<div  class="card elem-card" >
    <img class="card-img-top" [src]="product.image" height="280" >
    <div class="card-body">
      <h5 class="card-title">{{product.title}}</h5>
      <p class="card-text" ><span class="badge badge-warning badge-pill">{{product.price}} $ </span></p> 
      
    </div>
    <div class="card-footer" >
      <button 
      *ngIf=" getQuantity() === 0 ; else updateQuantity"
      (click)="addToCart(product)"
      class="btn btn-primary btn-block">Add To Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      
      <ng-template #updateQuantity>
        <div class="row no-gutters">
          <div class="col-2"><button (click)="removeToCart(product)" class="btn btn-secondary btn-block">-</button></div>
          <div class="col text-center"> <b>{{getQuantity()}}</b> in cart</div>
          <div class="col-2"><button (click)="addToCart(product)" class="btn btn-secondary btn-block">+</button></div>
        </div>
      </ng-template>


      </div>
  </div>