<!-- navigation nav component -->
<nav-bar></nav-bar>
<br><br><br><br>
<!-- container -->
<main>
  <div class="container" role="main">

    <router-outlet></router-outlet>
  </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small  wow fadeIn">

  <!--Call to action-->
  <div class="pt-4">
  <br><br><br><br>
  </div>
  <!--/.Call to action-->



  <!-- Social icons -->

  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    Developed by <a href="https://github.com/aniskchaou">Anis KCHAOU</a><br>

  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
