
body{
    padding-top: 80px;
}
footer {
    text-align: center;
    margin-top: 50px;
}

html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}
.view,body,html{height:100%}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}